$dark: #16161D;
$orange: #FCA311;
$platinum: #E5E5E5;
$grey: #F2F2F2;
$blue: #14213D;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
