@import 'utilities';
@import 'config';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
    letter-spacing: 0.5px;
    font-weight: 400;
}




